<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- Macro definition -->
  <xacro:macro name="dlidar_macro" params="i">
   <!-- Sensor link -->
  <link name="dlidar${i}">
    <!-- Visual -->
    <visual>
      <geometry>
        <box size="0.001 0.002 0.004"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="yellow">
          <color rgba="0.5 0.3 0.0 1" />
      </material>
    </visual>
    <!-- Collision -->
    <collision>
      <geometry>
        <box size="0.001 0.002 0.004"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    <!-- Interial -->
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
  </link>

  <!-- Sensor Joint -->
  <joint name ="dlidar${i}_joints" type="fixed">
    <parent link="dlidar_base_inertia"/>
    <child link="dlidar${i}"/>
    <origin xyz="${rad*cos(36*d2r*i)} ${rad*sin(36*d2r*i)} 0" rpy="0 0 ${36*d2r*i}"/>
  </joint>

  <!-- Make sure not be merged -->
  <gazebo reference="dlidar${i}_joints">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <!-- Sensor plugin -->
  <gazebo reference="dlidar${i}">
    <sensor type="ray" name="dlidar${i}_ray">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>         <!-- 是否可视化射线 -->
      <update_rate>10</update_rate>       <!-- 测距频率 -->
      <ray>
        <scan>
          <horizontal>   <!-- 水平方向 -->
            <samples>10</samples>
            <resolution>1</resolution> 
            <min_angle>-${15*d2r}</min_angle>  <!-- 角度范围最小值 -15度 -->
            <max_angle>${15*d2r}</max_angle>   <!-- 角度范围最大值 15度 -->
          </horizontal>
          <vertical>     <!-- 垂直方向 参数同上-->
            <samples>10</samples>
            <resolution>1</resolution> 
            <min_angle>-${15*d2r}</min_angle> 
            <max_angle>${15*d2r}</max_angle> 
          </vertical>
        </scan>
        <range>
          <min>0.02</min>     <!-- 最小测距范围-->
          <max>1.0</max>     <!-- 最大测距范围-->
          <resolution>0.02</resolution>
        </range>
      </ray>
      <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range${i}">
        <gaussianNoise>0.001</gaussianNoise>   <!-- 添加传感器噪声 -->   
        <alwaysOn>true</alwaysOn>
        <updateRate>10</updateRate>
        <topicName>dlidar_data</topicName>        <!-- 发布数据的 Topic 名称 -->
        <frameName>dlidar${i}</frameName>   <!-- 对应的frame 名字 -->
        <radiation>ultrasound</radiation>
        <fov>0.536</fov>
      </plugin>
    </sensor>
  </gazebo>
  </xacro:macro>
</robot>